{% extends 'base.html' %}
{% load static %}


{% load my_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="mycont">
  <h1>Моя корзина</h1>
  {% if cart_items %}
    <table class="table">
      <thead>
        <tr class="tbcart">
          <th></th>
          <th class="mytd2">Товар</th>
          <th>Цена</th>
          <th class="mytd3">Количество</th>
          <th class="mytd">Итого</th>
        </tr>
      </thead>
      <tbody class="tbcart">
  {% for item in cart_items %}
  <tr>
    <td class="tbcart2"><img src="{{ item.item.image.url }}" class="img-in-cart"></td>
    <td class="item-in-cart" id="itm-capt">{{ item.item }},<br>{{ item.item.description }}</td>
    <td class="item-in-cart">{{ item.item.price }} ₽</td>
    <td class="item-in-cart">
      <form method="POST" action="{% url 'cart_update' item.id %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="submit" name="action" value="delete" class="btn btn-outline-secondary">
          &#x1F5D1;
        </button>
        <button type="submit" name="action" value="decrement" class="btn btn-outline-secondary">
          -
        </button>
      </div>
      <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control" min="1" max="99" style="width: 30px">
      <div class="input-group-append">
        <button type="submit" name="action" value="increment" class="btn btn-outline-secondary">
          +
        </button>
      </div>
    </div>
  </div>
</form>

    </td>
    <td class="item-in-cart">{{ item.item.price|multiply:item.quantity }} ₽</td>
  </tr>
{% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="tbcart2">Итоговая стоимость</td>
          <td></td>
          <td class="tbcart"><strong>{{ total_price }} ₽</strong></td>
        </tr>
      </tfoot>
    </table>
    <a href="#" class="btn btn-success">Оформить заказ</a>
  {% else %}
    <h3>В корзине нет товаров</h3>
  {% endif %}
  </div>
{% endblock %}
