{% extends 'base.html' %}

{% block content %}
<div class="reg-form">
  <h2 align="center">Регистрация</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" name="username" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password1">Пароль:</label>
      <input type="password" name="password1" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password2">Подтвердите пароль:</label>
      <input type="password" name="password2" required class="form-control">
    </div>
    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
  {% if form.errors %}
    <div class="alert alert-danger" style="margin-top: 50px;">
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <p>{{ field.label }}- {{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<script src='https://www.google.com/recaptcha/api.js'></script>
</div>

{% endblock %}
