/* При ширине экрана от 0 до 576 пикселей */
@media (max-width: 576px) {
  /* Уменьшаем размер шрифта в заголовке */
  h1 {
    font-size: 1.3rem;
  }
  /* Уменьшаем размер изображений внутри таблицы */
  .img-in-cart {
    max-width: 45px;
  }
  /* Скрываем некоторые элементы таблицы */
  .mytd3, .mytd {
    display: none;
  }
  #itm-capt{
  font-size:13px;
}
  .mycont{
  margin: 7px;
}
  .inpt-cart{
  width: 10px;
    margin: 0;

}
}

/* При ширине экрана от 577 до 768 пикселей */
@media (min-width: 577px) and (max-width: 768px) {
  /* Уменьшаем размер шрифта в заголовке */
  h1 {
    font-size: 2rem;
  }
  /* Уменьшаем размер изображений внутри таблицы */
  .img-in-cart {
    max-width: 70px;
  }
  /* Скрываем некоторые элементы таблицы */
  .mytd3, .mytd {
    display: none;
  }
  #itm-capt{
    font-size:17px;
  }
}

/* При ширине экрана от 769 пикселей и более */
@media (min-width: 769px) {
  /* Возвращаем размер шрифта в заголовке к исходному */
  h1 {
    font-size: 3rem;
  }
  /* Возвращаем размер изображений внутри таблицы к исходному */
  .img-in-cart {
    max-width: 100px;
  }
  /* Возвращаем видимость всех элементов таблицы */
  .mytd3, .mytd {
    display: table-cell;
  }
}
