{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
<div class="row">
  {% for phone in phones %}
  <div class="col">
    <a href="{% url 'phone_detail' pk=phone.pk %}" style="text-align:center; text-decoration: none; color: black">
    <div class="card">
      <img src="{{ phone.image.url }}" class="card-img-top" alt="{{ phone.name }}">
      <div class="card-body">

        <p class="phone-title">{{ phone.brand }} {{ phone.model }}</p>
        <p class="card-text">{{ phone.description }}</p>
        <p style="font-size: 23px; color: #ca392b">{{ phone.price }} ₽</p>

      </div>

      <div class="card-footer d-flex justify-content-between align-items-center">
      {% if phone.count > 0 %}
          {% csrf_token %}
          {% if user.is_authenticated %}
              <button type="button" class="btn-animate add-to-cart w-100" data-phone-id="{{ phone.id }}">
                  <span class="mr-auto">В корзину</span>
              </button>
          {% else %}
                    <form class="w-100" action="{% url 'login' %}">
                    <button class="btn btn-primary ml-auto w-100">В корзину</button>
                    </form>
          {% endif %}
      {% else %}
          <button class="btn btn-primary ml-auto w-100" disabled>Нет в наличии</button>
      {% endif %}

        </div>
      </div>
       </a>
    </div>
  {% endfor %}


</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if phones.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ phones.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for i in phones.paginator.page_range %}
      {% if phones.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if phones.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ phones.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
</div>



<script>
  const addBtns = document.querySelectorAll('.btn-animate.add-to-cart');
  addBtns.forEach(btn => {
    btn.addEventListener('click', () => {
      btn.classList.add('clicked');
      setTimeout(() => {
        btn.classList.remove('clicked');
      }, 1000);
    });
  });
</script>


<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart');

  if (addToCartButtons.length) {
    const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

    addToCartButtons.forEach(button => {
      button.addEventListener('click', event => {
        event.preventDefault();
        const phoneId = button.dataset.phoneId;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', `/cart/add/${phoneId}/`);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function() {
          if (xhr.status === 200) {
            const countEl = document.querySelector(`#cart-count`);
            if (countEl) {
              const count = parseInt(countEl.innerText);
              countEl.innerText = count + 1;
            }
          } else {
            console.error(xhr.statusText);
          }
        };
        xhr.onerror = function() {
          console.error(xhr.statusText);
        };
        xhr.send(`phone_id=${phoneId}&csrfmiddlewaretoken=${csrfToken}`);
      });
    });
  } else {
    console.error('Button not found');
  }
</script>


{% endblock %}
