{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row" >
  {% for phone in phones %}
  <div class="col-3">
    <div class="card">
      <img src="{{ phone.image.url }}" class="card-img-top" alt="{{ phone.name }}">
      <div class="card-body">
          <a href="{% url 'phone_detail' pk=phone.pk %}" style="text-decoration: none; color: black">
        <p class="phone-title">{{ phone.brand }} {{ phone.model }}</p>
        <p class="card-text">{{ phone.description }}</p>
        <p class="card-text" id="price">Цена: {{ phone.price }} ₽</p>
          </a>
      </div>
      <div class="card-footer">
        {% if phone.count > 0 %}
          {% csrf_token %}
          <button type="button" class="btn btn-primary add-to-cart btn-pl" data-phone-id="{{ phone.id }}">В корзину</button>
          {% csrf_token %}
<!--         <a href="{% url 'cart_add' phone_id=phone.id %}" class="btn btn-primary add-to-cart" data-phone-id="{{ phone.id }}">В корзину</a>-->
        {% else %}
           <button class="btn btn-primary btn-ntexst" disabled>Нет в наличии</button>
        {% endif %}
          <a href="{% url 'phone_detail' pk=phone.pk %}" class="btn btn-primary btn-pl">Подробнее</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if phones.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ phones.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for i in phones.paginator.page_range %}
      {% if phones.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if phones.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ phones.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>


</div>

<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart');

  if (addToCartButtons.length) {
    const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

    addToCartButtons.forEach(button => {
      button.addEventListener('click', event => {
        event.preventDefault();
        const phoneId = button.dataset.phoneId;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', `/cart/add/${phoneId}/`);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function() {
          if (xhr.status === 200) {
            alert('Товар добавлен в корзину');
          } else {
            console.error(xhr.statusText);
          }
        };
        xhr.onerror = function() {
          console.error(xhr.statusText);
        };
        xhr.send(`phone_id=${phoneId}&csrfmiddlewaretoken=${csrfToken}`);
      });
    });
  } else {
    console.error('Button not found');
  }
</script>

{% endblock %}
