{% extends 'base.html' %}

{% block content %}
    {% if products %}
        <h2 align="center" style="margin-top: 10px">Результаты поиска:</h2>
        <ul>
{% for product in products %}
  <a href="{% url 'phone_detail' pk=product.pk %}" style="text-decoration: none; color:#0c40ca; font-size: 20px; margin: 3px">
    <li style="list-style-type: none; display: flex;">
      <div style="margin-right: 10px;"> <img src="{{ product.image.url }}" width="100px" height="140px"></div>
      <div style="text-align: left; margin: auto"> {{ product.brand }} {{ product.model }}, {{ product.description }} </div>
    </li>
  </a>
  <hr>
{% endfor %}

        </ul>
    {% else %}
        <h1>Нет результатов.</h1>
    {% endif %}
{% endblock %}
